#chatbox {
  width: 95%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #1C1B29;
  color: #DCDDDE;
  border: none;
}

#chatbox:focus {
  outline-width: 0;
}

.message {
  width: 95%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  border-radius: 8px;
  /* background-color: #1C1B29; */
  color: white;
  border: none;
}

.message:hover {
  background-color: #22213a;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #64636b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #64636b;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #64636b;
}